<% layout('layouts/app') %>

<h1 class="text-center mb-4">Tambah Wisata</h1>
<div class="col-6 offset-3 mb-5">
  <form
    action="/places"
    method="post"
    class="validated-form"
    novalidate
    enctype="multipart/form-data"
  >
    <div class="mb-3">
      <label for="title" class="form-label">Judul</label>
      <input
        type="text"
        name="place[title]"
        id="title"
        class="form-control"
        required
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please select a valid state.</div>
    </div>
    <div class="mb-3">
      <label for="location" class="form-label">Lokasi</label>
      <input
        type="text"
        name="place[location]"
        id="location"
        class="form-control"
        required
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please select a valid state.</div>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Deskripsi</label>
      <input
        type="textarea"
        name="place[description]"
        id="description"
        class="form-control"
        required
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please select a valid state.</div>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Harga</label>
      <input
        type="text"
        name="place[price]"
        id="price"
        class="form-control"
        required
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please select a valid state.</div>
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Gambar</label>
      <input class="form-control"
        type="file"
        name="image"
        id="image"
        accept="image/*"
        multiple
        required
      />
      <div class="valid-feedback">Looks good!</div>
      <div class="invalid-feedback">Please select a valid state.</div>
    </div>
    <button type="submit" class="btn btn-success">Simpan</button>
  </form>
</div>
